*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 14px;
}

#root h2 {
    font-weight: 700;
}

.center {
    height: 100%;
    display: grid;
    place-items: center;
}