.navButtons {
  padding: 0 24px;
  display: flex;
  button {
    margin-right: 10px;
  }
}

:global(.ant-list) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 90%;
}

:global(.ant-spin-nested-loading) {
  flex-grow: 2;
  overflow-y: hidden;
  padding-right: 7px;
  &:hover {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0;
    --webkit-overflow-scrolling: touch;
  }
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(255,255,255,0.5);
  }
}

.listItem {
  display: grid;
  grid-template-columns: auto 4fr repeat(4, 1fr);
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;
  }
}

.icon {
  padding-right: 10px;
  font-size: 25px;
  justify-self: right;
}

.name {
  grid-column-start: 2;
}

.date {
  grid-column-start: 5;
  justify-self: center;
}

.size {
  grid-column-start: 6;
  justify-self: center;
}

.listTitle {
  display: grid;
  grid-template-columns: 35px 4fr repeat(4, 1fr);
  padding: 16px 24px;
}