:global(.ant-list) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 90%;
}

:global(.ant-spin-nested-loading) {
  flex-grow: 2;
  overflow-y: hidden;
  padding-right: 7px;
  &:hover {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0;
    --webkit-overflow-scrolling: touch;
  }
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(255,255,255,0.5);
  }
}

.spinner {
  display: grid;
  place-content: center;
  height: 100%;
}

.filesContainer {
  position: relative;
  height: 90%;
  .navButtons {
    padding: 0 24px;
    display: flex;
    button {
      margin-right: 10px;
    }
  }

  .listItem {
    display: grid;
    grid-template-columns: auto 4fr repeat(2, .5fr) repeat(2, 1fr);

    &:hover {
      background-color: #f3f3f3;

      & .downloadBtn,
      & .deleteBtn {
        display: block;
      }
    }
  }

  .icon {
    padding-right: 10px;
    font-size: 25px;
    justify-self: right;
    cursor: pointer;
  }

  .name {
    grid-column-start: 2;
    cursor: pointer;
  }

  .downloadBtn, .deleteBtn {
    display: none;
  }

  .downloadBtn {
    margin-right: 5px;
    grid-column-start: 3;
    justify-self: right;
  }

  .deleteBtn {
    grid-column-start: 4;
    justify-self: left;
  }

  .date {
    grid-column-start: 5;
    justify-self: center;
  }

  .size {
    grid-column-start: 6;
    justify-self: center;
  }

  .listTitle {
    display: grid;
    grid-template-columns: 35px 4fr repeat(4, 1fr);
    padding: 16px 24px;
    & span {
      cursor: pointer;
    }
  }

  & > .dragWrapper {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 100;
    & .dragger {
      opacity: .7;
    }
  }
}
